# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Media and Static (в продакшене генерируются)
media/
staticfiles/

# Django secret key
.env
*.env
